[submodule "ext/entt"]
	path = ext/entt
	url = https://github.com/skypjack/entt.git
[submodule "ext/glfw/ext/glfw"]
	path = ext/glfw/ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "plugins/tiny_obj_loader/ext/tinyobjloader"]
	path = plugins/tiny_obj_loader/ext/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "ext/ImGuizmo"]
	path = ext/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "plugins/tiny_gltf/ext/tinygltf"]
	path = plugins/tiny_gltf/ext/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "ext/soil"]
	path = ext/soil
	url = https://github.com/littlstar/soil.git
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ext/happly"]
	path = ext/happly
	url = https://github.com/nmwsharp/happly.git
[submodule "ext/TinyAD"]
	path = ext/TinyAD
	url = https://github.com/patr-schm/TinyAD.git
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
[submodule "ext/nanoflann"]
	path = ext/nanoflann
	url = https://github.com/jlblancoc/nanoflann.git
