[submodule "ext/entt"]
	path = ext/entt
	url = https://github.com/skypjack/entt.git
[submodule "ext/glfw/ext/glfw"]
	path = ext/glfw/ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt.git
